

.toolbar{
    font-family: "Grenze Gotisch", serif;
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.spacer{
    flex: 1;
}

.botao-sair{
    background-color: var(--mat-bg-secondary);
    color: var(--mat-sys-on-primary);
}

.botao-sair mat-icon{
    margin-right: 4px;
}


.formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding: 24px;
}

.formulario mat-form-field {
  min-width: 200px;
}

.formulario button {
  height: 56px;
}