
<mat-toolbar class="toolbar">
    <span>Crud de Bandas</span>

    <span class="spacer"></span>

    <button matButton="tonal" class="botao-sair" (click)="logout()"><mat-icon>logout</mat-icon>Sair</button>
</mat-toolbar>

<div class="formulario">

  <mat-form-field appearance="outline">
    <mat-label>Nome da banda</mat-label>
    <input matInput type="text"[(ngModel)]="nome">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ano de formação</mat-label>
    <input matInput type="number" [(ngModel)]="ano">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>URL da imagem</mat-label>
    <input matInput  type="text"  [(ngModel)]="imagem">
  </mat-form-field>

  @if (idEditando === null) {
    <button
      mat-flat-button
      (click)="salvar()"
      [disabled]="!formularioValido()">
      Salvar
    </button>
  } @else {
    <button
      mat-flat-button
      (click)="atualizar()"
      [disabled]="!formularioValido()">
      Atualizar
    </button>

    <button
      matButton="tonal"
      (click)="cancelar()">
      Cancelar
    </button>
  }

</div>

<hr>

<ul>
    @for (banda of bandas; track banda.id){
        <li>
            {{banda.nome}} - {{banda.ano}} -  <img [src]="banda.imagem" [alt]="banda.nome" width="100">
             <button (click)="editar(banda)">Editar</button>
             <button (click)="excluir(banda.id!)">Excluir</button>
        </li>
        
    }
</ul>

