
/*---TOOLBAR---*/
.toolbar{
    font-family: "Grenze Gotisch", serif;
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

.spacer{
    flex: 1;
}

.botao-sair{
    background-color: var(--mat-bg-secondary);
    color: var(--mat-sys-on-primary);
}

.botao-sair mat-icon{
    margin-right: 4px;
}

/*---FORMULARIO---*/

.formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
}

.formulario mat-form-field {
  min-width: 200px;
}

.formulario button {
  height: 56px;
}

/*---TABELA---*/

.tabela {
  width: calc(100% - 48px);
  margin: 24px;
}

.imagem-banda {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

mat-cell,
mat-header-cell {
  padding: 8px 16px;
}

mat-header-cell {
  font-weight: 600;
}


.tabela {
  width: calc(100% - 48px);
  margin: 24px;
}

.imagem-banda {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

mat-cell,
mat-header-cell {
  padding: 8px 16px;
}

mat-header-cell {
  font-weight: 600;
}